* {
    margin: 0;
    padding: 0;
}


.az {
    height: 150px;
    width: 150px;
    background-color: #999999;
    cursor: pointer;
}

.ARIZONA {
    text-align: center;
    line-height: 150px;
    font-weight: bold;
}


